/* Estilos para deixar a página mais agradável */
body {
        background-image: linear-gradient(to right, #ebd7c3, #e7a670, #afd1ec);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

}

.container {
    width: 80%;
    height: 90%;
    min-width: 500px;
    min-height: 500px;
    background: linear-gradient(30deg, #eee2d5 50%, #c1dbf0 50%);
    margin: auto;
    word-wrap: break-word;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    border: 1px solid rgb(146, 145, 145); 
    border-radius: 15px; /* Define a curvatura dos cantos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* WANDERLEY VIADO */


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #333; /* Cor do texto mais escura */
}

/* Botão "Adicionar Despesa" */
button {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

/* Tabela de Despesas */
table {
    width: 100%;
    border-collapse: collapse;
    border: 10px solid #f80e0e;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px #c4a90f69;
}

th, td {
    padding: 15px;
    text-align: left;
    color: rgb(0, 0, 0);
}


thead th{
    background-color: #55608f;
}
/* Cores de saldo condicionais */
#balance {
    font-size: 1.2em;
    font-weight: bold;
}

#balance.green {
    color: green;
}

#balance.red {
    color: red;
}

th:nth-child(4), td:nth-child(4) {
    text-align: center;
    border-radius: 3px;
     }

     #expense-list table {
        width: 100%;
        border-radius: 3px;
    }
    
    #expense-list table th:nth-child(1),
    #expense-list table td:nth-child(1) {
        width: 40%; /* Defina a largura desejada */
        border-radius: 3px;
    }

/*.testeporra{
    width: 300px;
    position: fixed;
    left: 1100px;
    margin-top: 20px;
}
*/
.testeporra {
    width: 300px;
    position: fixed;
    top: 20px; /* Ajuste a posição superior conforme necessário */
    right: 20px; /* Ajuste a posição direita conforme necessário */
    z-index: 999; /* Garante que o elemento fique sobreposto a outros elementos */
}

.table{
    
     /* Une as bordas das células da tabela */
    width: 100%; /* Defina a largura da tabela, se necessário */
    /* Personalize a aparência das bordas */
    border: 1px solid #ccc; /* Define a cor e espessura das bordas da tabela */
    border-radius: 10px; /* Torna a tabela arredondada */
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px #0000001a;
}

